@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.article h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.article h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.article h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.article a {
    color: #08f;
}
.article p {
    padding-top: 5px;
    padding-bottom: 5px;
}
.bg-custom {
    background-image: url('/img/mm.webp');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}